<!DOCTYPE html>
<html lang=en>

<head>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
<title>{% block head_title %}favmenu{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
</head>
<body>
{% include 'snippets/nav.html' %}
{% if messages %}
<div class="alert messages text-center">
    {% for message in messages %}
    <b>{{ message }}</b><br/>
    {% endfor %}

</div>
{% endif %}

<div class='container'>
{% block content %}{% endblock content %}
</div>


{% include 'snippets/js.html' %}

<footer style="text-align: center; padding: 50px; background-color: #12f2;">By Mayank Shekhar and Arjun Singh Kalsi. <br /> 
<a href='{% url "about" %}'>About</a>  &nbsp; <a href='{% url "contact" %}'>Contact</a>
</footer>
</body>
</html>